<!-- TODO #6 Collapsable Forums -->
<!-- TODO: #7 Reddit Sidebar Partial -->
<!-- TODO: #8 Filters and Tags -->
<div class="container">
    

    <div>
        <% @forums.each do |forum| %>
            <div class="forum">
                <h2><%= forum.title %></h2>
                <p><%= forum.description %></p>
                <hr/>
                <h4 class="mb-4">Posts</h4>
                <% forum.posts.each do |post| %>
                    <div class="post card mb-3">
                        <div class="card-body" >
                            <h5 class="card-title"><%= post.title %></h5>
                            <p class="username card-text"><%= post.user.name %></p>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>








</div>