// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.forum {
    // width: 100%;
    border: 1px solid #333;
    background-color: white;
    padding: 40px;
}

.post {
    background-color: lightgray;
    border: 1px solid #333;
}